@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto-Medium";
}

body {
  background: #e9ebee;
}

/* header */

header {
  background: #dd123d;
  width: 100%;
  padding: 5px;
  border-bottom: solid 1px rgb(150, 149, 149);
}

.header {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  flex: 1;
}

header .searchbar {
  flex: 2;
}

header .searchbar input[type="text"] {
  width: 90%;
  padding: 5px 50px 5px 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}

header .searchbar button {
  padding: 7px 15px;
  border: none;
  background: rgb(182, 17, 17);
  margin-left: -47px;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: rgb(194, 192, 192);
}

header .tools {
  flex: 2;
}

header .tools img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  margin-left: -35px;
}

header .tools .name {
  font-size: 15px;
  color: #fff;
}

header .tools a {
  text-decoration: none;
  color: #000;
  font-size: 1.3rem;
  margin: 0 5px;
  font-family: "Roboto-Medium";
}

header .tools a:hover {
  color: rgb(99, 98, 98);
}

header .notification-badge {
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background-color: #f00;
  border-radius: 50%;
  position: absolute;
  margin-left: -15px;
  top: 5px;
}

.dropdown-data-window {
  background: #fff;
  overflow-y: scroll;
  width: 400px;
  position: fixed;
  z-index: 1;
  right: 100px;
  top: 50px;
}

.dropdown-data-window a {
  text-decoration: none;
  display: flex;
  border-bottom: 1px solid #e9ebee;
  padding: 5px;
}

.dropdown-data-window a:hover {
  background: #e9ebee;
}

.dropdown-data-window .chat-details {
  margin-left: 10px;
}

.dropdown-data-window .chat-details .chatDetails {
  display: flex;
  align-items: center;
}

.dropdown-data-window .chat-details h5 {
  font-size: 16px;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}

.dropdown-data-window .chat-details p {
  color: rgb(83, 83, 83);
  font-size: 14px;
  font-weight: 300;
}

.dropdown-data-window .chat-details span {
  font-size: 12px;
  color: #ccc;
  margin-left: 30px;
}

.dropdown-data-window a {
  display: flex;
  text-decoration: none;
}

.dropdown-data-window img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 0.5px solid #e9ebee;
}

.dropdown-data-window .result-display-notification {
  display: flex;
  color: rgb(83, 83, 83);
  align-items: center;
}

.dropdown-data-window .result-display-notification p {
  margin-left: 10px;
  width: 70%;
  font-size: 14px;
}

.dropdown-data-window .result-display-notification span {
  font-size: 12px;
  color: #ccc;
}

.search_results {
  background: #fff;
  width: 32%;
  position: fixed;
  z-index: 1;
  margin-top: 15px;
  margin-left: 310px;
}

.search_results .result-display a {
  display: flex;
  text-decoration: none;
  align-items: center;
  padding: 10px;
  border: 1px solid #dadada;
}

.search_results .result-display a:hover {
  background: #ccc;
}

.search_results .result-display a img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.search_results .result-display a .live-search-text {
  display: flex;
  align-items: center;
}

.search_results .result-display a .live-search-text h4 {
  margin-left: 5px;
  margin-right: 10px;
  font-size: 18px;
  color: #000;
  font-weight: 500;
}

.search_results .result-display a .live-search-text p {
  font-size: 14px;
  color: #8d8d8e;
}

.search_results_footer {
  padding: 7px 4px 0px 4px;
  width: 32%;
  background: #fff;

  border-top: none;
  border: 1px solid #dadada;
  text-align: center;
  margin-left: 310px;
  position: fixed;
  z-index: 1;
  margin-top: -12px;
}

.search_results_footer a {
  color: #dd123d;
  text-decoration: none;
}

/* index */

.post {
  width: 60%;
  height: 90px;
  background: #fff;
  margin: 5px auto;
  margin-top: 60px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 1px #d3d3d3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.post img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.post .profile-image {
  background: red;
  width: 10%;
  position: relative;
}

.post .form {
  width: 90%;
}

.post textarea {
  border: none;
  resize: none;
  width: 75%;
  height: 50px;
  font-family: "Roboto-Medium";
  font-size: 15px;
  position: absolute;
  top: 30px;
  outline: none;
}

.post input[type="submit"] {
  float: right;
  margin-right: 10px;
  width: 90px;
  height: 50px;
  border-radius: 10px;
  background: #dd123d;
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.post input[type="submit"]:hover {
  background: #f75c7d;
}

.post input[type="submit"]:active {
  padding: 5px 4px 4px 5px;
}

/* status section */
.status-post {
  background: #fff;
  width: 40%;
  margin: 10px 20% 0px 20%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 5px;
  position: relative;
}

.status-post .title {
  display: flex;
  align-items: center;
}

.status-post .post-profile-pic {
  padding: 5px 10px;
}

.status-post .post-profile-pic img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.status-post .title .posted-by {
  width: 85%;
}

.status-post .title .posted-by a {
  text-decoration: none;
  color: #dd123d;
}

.status-post .title .posted-by a:hover {
  text-decoration: underline;
}

.status-post .title .posted-by p {
  color: #827f7f;
  font-size: 10px;
}

.status-post .title .delete-button {
  width: 5%;
}

.status-post .title .delete-button button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background: #dd123d;
  color: #fff;
}

.status-post .title .delete-button button:hover {
  background: #e9ebee;
  color: #ccc;
}

.status-post .post-body {
  margin: 5px 15px;
}

.status-post .line {
  width: 95%;
  height: 1px;
  background-color: #ccc;
  margin: 20px 2.5% 5px 2.5%;
}

.status-post .like-comment {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 2px 0;
}

.status-post .btn {
  width: 50%;
  background: #fff;
  border: none;
  padding: 5px 0;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
}

.status-post .btn:hover {
  background: #ccc;
}

.toggle-comment {
  background: #fff;
  display: none;
  width: 40%;
  margin: 0px 20% 0px 20%;
  padding: 5px;
  border-top: 1px solid #ccc;
}

.toggle-comment iframe {
  border: none;
  max-height: 500px;
}

.toggle-comment .comment-iframe {
  width: 100%;
}

.posts-section .comment-container {
  background: #fff;
  width: 40%;
  margin: 0 20%;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: solid 1px #ccc;
}

.posts-section .comment-container .loggedin-profile-pic img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.posts-section .comment-container .comment-form {
  width: 100%;
  margin-left: 10px;
  position: relative;
}

.posts-section .comment-container .comment-form button {
  position: absolute;
  padding: 6px 20px 7px 10px;
  right: 1px;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid #ccc;
  outline: none;
}

.posts-section .comment-container .comment-form textarea {
  width: 90%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
  outline: none;
  resize: none;
  height: 30px;
  overflow: hidden;
}

.posts-section .comment-container .comment-form textarea:focus {
  border: solid 1px #fd91a8;
}

.posts-section .comment-container .success-message {
  color: #ccc;
  font-size: 15px;
  font-weight: 50;
  text-align: center;
  display: none;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.load-message {
  width: 60%;
  padding: 10px;
  margin: 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-comment {
  display: flex;
}

.display-comment .comment-wrapper {
  padding: 5px;
  width: 10%;
}

.display-comment .comment-body {
  background: #e9ebee;
  padding: 10px;
  /* width: 95%; */
  border-radius: 10px;
  margin-right: 5%;
  font-size: 15px;
  color: rgb(102, 101, 101);
  font-family: Arial, Helvetica, sans-serif;
}

.display-comment .comment-body a {
  text-decoration: none;
  color: #dd123d;
}

.display-comment .comment-body a:hover {
  text-decoration: underline;
}

.display-comment .comment-profile-pic img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.no-comments {
  text-align: center;
  color: #ccc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.time-message {
  font-size: 12px;
  margin-left: 55px;
  margin-bottom: 10px;
  margin-top: 5px;
  color: #ccc;
  font-family: Arial, Helvetica, sans-serif;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 10% auto;
  width: 40%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  padding: 20px;
  background: #fff;
}

.modal-content .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-content .modal-header .close {
  font-size: 30px;
  color: #000;
  cursor: pointer;
}

.modal-content .modal-body p {
  margin: 10px 0px;
}

.modal-content .modal-body button {
  width: 120px;
  padding: 5px;
}

.modal-content .modal-body button:hover {
  cursor: pointer;
}

.noposts {
  width: 40%;
  margin-left: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #827f7f;
  text-align: center;
}

/* profile page */
.showcase {
  margin-top: 7vh;
  margin-left: 10%;
  position: relative;
}

.showcase .cover-pic img {
  width: 65%;
  border-radius: 5px;
  border: 2px solid #ccc;
  height: 50vh;
}

.showcase .profile-pic {
  position: absolute;
  bottom: 5px;
  left: 10px;
  display: flex;
  align-items: center;
}

.showcase .profile-pic img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #fff;
}

.showcase .profile-pic a {
  text-decoration: none;
  color: #fff;
  margin-left: 30px;
  font-size: 35px;
  margin-top: 50px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.showcase .add-remove {
  position: absolute;
  right: 460px;
  bottom: 40px;
}

.showcase .add-remove .btn {
  padding: 5px 15px;
  cursor: pointer;
  border: none;
}

.profile-wrapper {
  margin-left: 10%;
  margin-top: 20px;
  display: flex;
}

.profile-wrapper .user-info {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 5%;
  width: 20%;
  height: 50%;
  position: sticky;
  top: 80px;
}

.profile-wrapper .user-info p {
  margin: 10px 0px;
  text-align: center;
}

.profile-wrapper .profile-posts {
  width: 40%;
}

.profile-wrapper .profile-posts .post-from-profile {
  width: 100%;
  height: 90px;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 1px #d3d3d3;
  display: flex;
  align-items: center;
  position: relative;
}

.profile-wrapper .profile-posts .post-from-profile .loggedIn-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile-wrapper .profile-posts .post-from-profile form textarea {
  border: none;
  resize: none;
  width: 65%;
  height: 50px;
  font-family: "Roboto-Medium";
  font-size: 15px;
  position: absolute;
  top: 30px;
  outline: none;
}

.profile-wrapper .profile-posts .post-from-profile form input[type="submit"] {
  margin-left: 327px;
  width: 80px;
  height: 40px;
  border-radius: 10px;
  background: #dd123d;
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.profile-wrapper .profile-posts .status-post {
  width: 100%;
  margin: 10px 0 0px 0;
}

.profile-wrapper .profile-posts .posts-section .comment-container {
  width: 100%;
  margin-left: 0%;
}

/* user closed */
.userclosed {
  top: 50%;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 10px;
  padding: 50px;
}

.userclosed h4 {
  margin-bottom: 10px;
  font-size: 1.3rem;
  color: rgb(53, 53, 53);
}

.userclosed a {
  text-decoration: none;
  color: #dd123d;
}

.userclosed a:hover {
  text-decoration: underline;
}

/* friend request page */
.friend-requests {
  margin-top: 80px;
  margin-left: 100px;
  width: 60%;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.friend-requests .no-requests {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.friend-requests .friend-request-header .requests {
  text-align: center;
  margin-top: 5px;
  border-bottom: 1px solid #e9ebee;
  padding: 5px 0px;
  font-weight: 500;
}

.friend-requests .all-friend-requests {
  display: flex;
  align-items: center;
  margin: 10px auto;
  width: 95%;
  padding: 5px;
  border-bottom: 1px solid #e9ebee;
}

.friend-requests .requested-img {
  width: 12%;
}

.friend-requests .requested-img img {
  width: 80px;
  height: 80px;
}

.friend-requests .requested-name {
  width: 60%;
}

.friend-requests .requested-name a {
  text-decoration: none;
  color: #dd123d;
  font-size: 1.2rem;
  font-weight: 300;
}

.friend-requests .requested-name a:hover {
  text-decoration: underline;
}

.friend-requests .all-friend-requests form input[type="submit"] {
  padding: 7px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.friend-requests .all-friend-requests form .accept-btn {
  background: #dd123d;
  color: #fff;
  border: none;
}

.friend-requests .all-friend-requests form .ignore-btn {
  border: 1px solid #ccc;
}

/* upload page */
.upload-container {
  width: 50%;
  margin: 80px auto 0 auto;
}

.upload-container .upload-title h2 {
  text-align: center;
  padding: 5px;
  background: #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 18px;
  color: rgb(63, 63, 63);
  font-weight: 300;
}

.upload-container .upload-info {
  border: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.upload-container .upload-info .img-container {
  padding: 5px;
}

.upload-container .upload-info .img-container img {
  width: 100%;
}

.upload-container .upload-info .profile-img {
  text-align: center;
}

.upload-container .upload-info .profile-img img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid #ccc;
}

.upload-container .upload-info form {
  border-top: 1px solid #ccc;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-container .upload-info form button {
  padding: 5px 20px;
  margin-top: 5px;
  background: #dd123d;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.upload-container .upload-info form input[type="file"] {
  padding: 5px;
  margin-top: 5px;
}

.upload-container .upload-info form button:hover {
  background: #ccc;
  color: rgb(63, 63, 63);
}

/* settings page */
.settings-wrapper {
  margin-top: 60px;
  margin-bottom: 100px;
}

.settings-wrapper .settings-container {
  width: 60%;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
}

.settings-wrapper .settings-container h4 {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

.settings-wrapper .settings-container input[type="submit"] {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  color: #fff;
  background: #dd123d;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

.settings-wrapper .settings-container input[type="submit"]:hover {
  background: #f75c7d;
  color: #ccc;
}

.settings-wrapper .settings-container h5 {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

.settings-wrapper .settings-container .config .profile-images {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.settings-wrapper .settings-container .config .profile-images img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #e9ebee;
}

.settings-wrapper .change-button {
  margin-left: 10px;
}

.settings-wrapper .change-button a {
  text-decoration: none;
  color: #000;
  background: #e9ebee;
  padding: 5px 15px;
  cursor: pointer;
  border: none;
  font-size: 14px;
  font-weight: 500;
}

.settings-wrapper .settings-container .profile-details {
  margin-top: 30px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
}

.settings-wrapper .settings-container .profile-details form {
  display: flex;
  flex-direction: column;
}

.settings-wrapper .settings-container .profile-details form input[type="text"],
.settings-wrapper
  .settings-container
  .profile-details
  form
  input[type="email"] {
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.settings-wrapper .settings-container label {
  font-weight: 300;
  font-size: 14px;
}

.settings-wrapper .settings-container .password {
  margin-top: 50px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
}

.settings-wrapper .settings-container .password form {
  display: flex;
  flex-direction: column;
}

.settings-wrapper .settings-container .password form input[type="password"] {
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.settings-wrapper .settings-container .close-account {
  margin-top: 50px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
}

/* close account */
.close-account-wrapper {
  margin-top: 70px;
}

.close-account-wrapper .close-account-container {
  background: #fff;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  border-radius: 5px;
  padding: 15px;
}

.close-account-wrapper .close-account-container h3 {
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 500;
}

.close-account-wrapper .close-account-container .close-message {
  margin: 10px 0;
  padding-bottom: 20px;
}

.close-account-wrapper .close-account-container .close-message h4 {
  margin: 20px 0;
  font-size: 1.3rem;
  font-weight: 500;
}

.close-account-wrapper .close-account-container .close-message p {
  font-weight: 500;
  color: rgb(89, 89, 89);
}

.close-account-wrapper .close-account-container input[type="submit"] {
  width: 200px;
  cursor: pointer;
  padding: 5px;
  border: none;
  background: #dd123d;
  color: #fff;
  border-radius: 10px;
  margin: 0 5px;
}

.close-account-wrapper .close-account-container input[type="submit"]:hover {
  background: #f75c7d;
  color: #ccc;
}

/* Messages */
.chat-header {
  margin-top: 50px;
  background: #fff;
}

.chat-header .chat-container {
  display: flex;
}

.chat-header .chat-container .left-panel {
  width: 35%;
  padding: 10px;
}

.chat-header .chat-container .left-panel .user-details {
  display: flex;
  align-items: center;
}

.chat-header .chat-container .left-panel .user-details img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 20px;
}

.chat-header .chat-container .left-panel .user-details .new-message {
  text-decoration: none;
  margin-left: 10px;
  font-size: 12px;
  color: #000;
  background: #e9ebee;
  padding: 5px;
  border-radius: 3px;
}

.chat-header .chat-container .main-panel {
  width: 100%;
  border: 1px solid #e9ebee;
  border-bottom: 2px solid #e9ebee;
}

.chat-header .chat-container .main-panel .chat-head {
  display: flex;
  align-items: center;
  padding: 10px;
}

.chat-header .chat-container .main-panel .chat-head img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 20px;
}

.chat-header .chat-container .main-panel .chat-head input[type="text"] {
  margin-left: 31px;
  margin-top: 14px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  outline: none;
  width: 50%;
  background: #e9ebee;
}

.chat-header .chat-container .main-panel .chat-head .search-results {
  background: #fff;
  position: absolute;
  top: 18vh;
  left: 52vw;
  width: 500px;
}

.chat-header
  .chat-container
  .main-panel
  .chat-head
  .search-results
  .result-display {
  margin: 5px;
  border-radius: 10px;
}

.chat-header
  .chat-container
  .main-panel
  .chat-head
  .search-results
  .result-display
  a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.chat-header
  .chat-container
  .main-panel
  .chat-head
  .search-results
  .result-display
  h5 {
  color: #000;
  font-size: 16px;
}

.chat-header
  .chat-container
  .main-panel
  .chat-head
  .search-results
  .result-display
  p {
  font-size: 12px;
  color: rgb(83, 83, 83);
}

.chat-header
  .chat-container
  .main-panel
  .chat-head
  .search-results
  .result-display:hover {
  background: #ccc;
}

.chat-body {
  display: flex;
  height: 80vh;
}

.chat-body .chat-lists {
  background: #fff;
  width: 35%;
  padding: 10px;
}

.chat-body .chat-lists .chatlist {
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 5px;
}

.chat-body .chat-lists .chatlist:hover {
  background: #e9ebee;
}

.chat-body .chat-lists .chatlist .chat-details {
  margin-left: 10px;
}

.chat-body .chat-lists .chatlist .chat-details .chatDetails {
  display: flex;
  align-items: center;
}

.chat-body .chat-lists .chatlist .chat-details h5 {
  font-size: 16px;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}

.chat-body .chat-lists .chatlist .chat-details p {
  color: rgb(83, 83, 83);
  font-size: 14px;
  font-weight: 300;
}

.chat-body .chat-lists .chatlist .chat-details span {
  font-size: 12px;
  color: #ccc;
  margin-left: 30px;
}

.chat-body .chat-lists a {
  display: flex;
  text-decoration: none;
}

.chat-body .chat-lists img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 0.5px solid #e9ebee;
}

.chat-body .chat-message {
  width: 100%;
  background: #fff;
  border-left: 1px solid #e9ebee;
  display: flex;
  height: 100%;
}

.chat-body .chat-message .display-chat {
  width: 70%;
  border-right: 1px solid #e9ebee;
  position: relative;
}

.chat-body .chat-message .display-chat .chat-message-body {
  height: 70vh;
  overflow-y: scroll;
  padding: 20px;
}

.chat-body .chat-message .display-chat .chat-message-body img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.chat-body .chat-message .display-chat .chat-message-body .message-body {
  border-radius: 15px;
  padding: 10px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.chat-body .chat-message .display-chat .chat-message-body .message-to {
  background: #e9ebee;
  max-width: 500px;
}

.chat-body .chat-message .display-chat .chat-message-body .message-from {
  background: #dd123d;
  color: #fff;
  float: right;
  margin-bottom: 5px;
  clear: right;
  max-width: 500px;
}

.chat-body .chat-message .display-chat .send-message {
  display: flex;
  margin: 0 5px;
  margin-top: 15px;
}

.chat-body .chat-message .display-chat .send-message input[type="text"] {
  width: 90%;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
}

.chat-body .chat-message .display-chat .send-message button {
  background: none;
  border: none;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
  outline: none;
  display: none;
}

.chat-body .chat-message .chat-user {
  width: 30%;
}

.chat-body .chat-message .chat-user .chat-user-details {
  text-align: center;
  margin-top: 30px;
}

.chat-body .chat-message .chat-user .chat-user-details img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.chat-body .chat-message .chat-user .chat-user-details .display-active {
  color: #ccc;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.chat-body .chat-message .chat-user .chat-user-details .user-info {
  margin-top: 25px;
}

.chat-body .chat-message .chat-user .chat-user-details .user-info p {
  font-size: 14px;
  margin-bottom: 5px;
}

/* search page */
.search-page {
  margin-top: 70px;
  margin-left: 20%;
  background: #fff;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
}

.search-page .search_result {
  display: flex;
  align-items: center;
}

.search-page .search_result img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
